
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

footer a{
    color: #ffffff!important;
}

hr{
    margin: 30px;
}

body{
    background-color: #a52a2a ;
    justify-content: center;
    align-items: center;
}

header{
    margin: 5px;
    background-color: rgb(161, 22, 22);

}

h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.caja{
    background-color: #222222;
    color: #ffffff;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px #ffffff solid;
    text-align: center;
}

.caja2{
    background-color: #222222;
    color: #ffffff;
    width: 100px;
    margin: 5px;
    border: 2px #ffffff solid;
    text-align: center;
}

main .contenedor1{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-direction: row; /* row, colum */
    flex-wrap: nowrap; /* valor por defecto */
}

main .contenedor2{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-direction: row;
    flex-wrap: wrap;
}

main .contenedor3{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-flow: row wrap; /* funciona para darle valor a los otros dos atributos flex */
}

main .contenedor4{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-flow: row wrap;
    justify-content: center; /* para centrar las cajas dentro del flex */
}

main .contenedor5{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-flow: row wrap;
    justify-content: space-between
}

main .contenedor6{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px; /* si las cajas de adentro no tienen una altura por defecto, ocupan todo el largo del contenedor */
}

main .contenedor7{
    display: flex;
    background-color: #ffffff;
    border: #222222 1px solid;
    padding: 10px;
    margin: 10px auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; /* para alinear en el eje y */
    height: 300px; 
}

footer a{
    color: #ffffff;
}

footer{
    margin-top: 60px;
}

a:hover{
        background-color: #222222;
}


/* GRID */

.gird-cont1{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.gird-cont2{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.gird-cont3{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px 50px;
    gap: 5px; /* distancia entre cajas */
}

.grid-item{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.gird-cont4{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 20% 40% 15% auto;
    grid-template-rows: 30% 50% auto;
    gap: 5px;
}

.gird-cont5{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #ffffff;
    gap: 2px;
}

.grid-item1{
    background-color: green;
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    grid-column: 1/3;
}

.grid-item2{
    background-color: rgb(126, 128, 0);
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid-item3{
    background-color: rgb(151, 40, 132);
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    grid-column: 1/3;
}

.grid-item4{
    background-color: rgb(38, 0, 128);
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    grid-column: 1/4;
}

.grid-item5{
    background-color: rgb(92, 206, 204);
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.grid-item6{
    background-color: rgb(99, 39, 159);
    border: #ffffff 1px solid;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    grid-row: 4/5;
    grid-column: 2/4;
}

.gird-cont6{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    background-color: #ffffff;
    gap: 5px;
    align-items: center;
    justify-items: center;
}

.gird-cont7{
    height: 250px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    background-color: #ffffff;
    gap: 5px;
    align-content: center;
    justify-content: center;
}

.gird-cont8{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    background-color: #ffffff;
    gap: 5px;
}

.grid-item7{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
}

.grid-item12{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.grid-item8{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-self: center;
}

.grid-item9{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.grid-item10{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.grid-item11{
    border: white 2px solid;
    background-color: rgb(54, 48, 48);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.gird-cont9{
    display: grid;
    grid-template-areas:
     "menu logo logo logo logo"
     "menu info info info banner"
     "menu info info info banner"
     "redes redes redes redes redes";
    background-color: #ffffff;
    padding: 5px;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 100px 2fr 2fr 50px;
}

.header{
    background-color: aquamarine;
    grid-area: logo; /* Palabras clave definidas por nosotros */
    color: #ffffff;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

.nav{
    background-color: pink;
    grid-area: menu;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

.section{
    background-color: skyblue;
    grid-area: info;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

.aside{
    background-color: tomato;
    grid-area: banner;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

.footer{
    background-color: springgreen;
    grid-area: redes;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    gap: 10px;
}

/* PSEUDOCLASES */

a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
}

a:hover { /* sobre el enlace */
    color: aquamarine;
    background-color: #a52a2a;
}

a:active { /* clickeando el enlace */
    color: black;
}

a:visited{ /* cuando ya fue visitado */
    color: red;
}

.box-hover{
    background-color: transparent;
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px;
    max-width: 300px;
}

.box-hover:hover{
    background-color: greenyellow;
    box-shadow: 1px 5px 15px 1px rgba(rgba31, 17, 17, 0.397); /* poner 3 valores 0 y un color y despues editar desde el inspector */
}

.check input:checked + p{
    color: #ffffff;
    background-color: #222222;
    font-size: 24px;
}

.check2 .menucheck{
    display: none;
}

.check2 input:checked + .menucheck{
    display: block;
    background-color: black;
    color: white;
    font-size: 24px;
}

.texto input:focus{
    background-color: greenyellow;
    width: 200px;
    height: 50px;
    font-size: 30px;
}

.texto input::placeholder{ /* pseudo elemento, va con doble dos puntos */
    color: red;
}

.bloque-txt p:not(.txt2){
    color: greenyellow;
    background-color: #222222;
}

.hijos ul li:nth-child(2n) {
    background-color: greenyellow;
    color: #000000;
}

.hijos ul li:last-child{
    border: 2px solid rgb(255, 0, 0);
}

.hijos ul li:first-child{
    border: 2px solid rgb(255, 0, 0);
}

.hijos ul li{
    color: #ffffff;
    margin: 5px;
}

.hijos{
    background-color: black;
}

h3::before{
    content: 'Antes... ';
    color: rgb(0, 30, 255);
}

h3::after{
    content: ' ...Despues';
    color: rgb(47, 255, 50);
}

/* BEM */

.header{
    background-color: #ffffff;
    color: #000000;
}

.header__logo{
    width: 100px;
    height: auto;
}

.header__menu{
    display: flex;
}

.haeder__search{
    max-width: 150px;
    height: auto;
}

/* .header--dark{
    background-color: #000000;
} */