.main-conocenos{
    article{
        background-color: $dark-bg;
        .section2{
            animation-delay: 2s;
        }
        .section{
            background-color: $grey-div-bg;
            background: radial-gradient( $grad-dark);
            margin: 5vh 4vw;
            font-size: $a-font;
            padding: 2vw;
            h5{
                animation-delay: 0.5;
            }
            .section--div--img{
                animation-delay: 1.5s;
                @include flxwrp;
                align-items: center;
                justify-content: center;
                .section__img{
                    margin: 3vh 0 2vh 1vw;
                }
            }
            p{
                margin: 0 30px;
                animation-delay: 1s;
            }
        }
    }
}