.main-conocenos{
    article{
        background-color: #000000;
        .section{
            background-color: #222222;
            margin: 20px 40px;
            font-size: 20px;
            padding: 20px;
            .section--div--img{
                display: flex;
                flex-flow: wrap row;
                align-items: center;
                justify-content: center;
                .section__img{
                    margin: 30px 0 20px 10px;
                }
            }
            p{
                margin: 0 30px;
            }
        }
    }
}