.main-index{
    .titulo{
        h2{
            font-family: 'Fjalla One', sans-serif;
            font-size: $ht-font;
            color: $txt-color;
            text-align: center;
            padding-top: 10px;
            margin: 25px 0 15px;
        }
    }
    .ind-men{
        margin-top: 2vh;
        font-family: 'Fjalla One', sans-serif;
        font-size: $mt-font;
        color: $txt-color;
        text-align: center;
    }
    .intro{
        margin: 10vh 5vw 5vh;
        display: flex;
        justify-content: center;
        h3{
            font-size: $mt-font - 5;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            animation-delay: 1s;
            animation-duration: 3s;
        }
    }
    .foto-fondo{
        justify-content: center;
        display: flex;
        img{
            height: auto;
            opacity: 66%;
            border: 0;
            margin-top: 0;
            transition: all 6s;
            &:hover{
                opacity: 90%;
            }
        }
    }
    .submenu-index{
        @include flxwrp;
        .carousel-inner{
            .carousel-item{
                h4{
                    text-align: center;
                    font-size: $a-font;
                }
                a{
                    display: flex;
                    justify-content: center;
                }
            }
        }
        img{
            height: auto;
            width: 14vw;
            opacity: 50%;
            @include bordimg;
            margin: 1vh 0;
            transition: all .15s;
            &:hover{
                opacity: 100%;
            }
        }
    }
}
