.main-index{
    .titulo{
        h2{
            font-family: 'Fjalla One', sans-serif;
            font-size: $ht-font;
            color: $txt-color;
            text-align: center;
            padding-top: 10px;
            margin: 25px 0 15px;
        }
    }
    .ind-men{
        margin-top: 2vh;
        font-family: 'Fjalla One', sans-serif;
        font-size: $mt-font;
        color: $txt-color;
        text-align: center;
    }
    .intro{
        margin: 10vh 5vw 5vh;
        display: flex;
        justify-content: center;
        h2{
            font-size: $mt-font - 3;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            animation-delay: 1s;
            animation-duration: 3s;
        }
    }
    .foto-fondo{
        justify-content: center;
        display: flex;
        img{
            height: auto;
            opacity: 66%;
            border: 0;
            margin-top: 0;
            transition: all 6s;
            &:hover{
                opacity: 95%; /* es mera decoracion para que haga un fade lento a una opacacidad casi total */
            }
        }
    }
    .submenu-index{
        @include flxwrp;
        justify-content: space-evenly;
        margin: 0 10vw;
        img{
            height: 20vh;
            width: auto;
            opacity: 50%;
            @include bordimg;
            margin: 1vh 0;
            transition: all .15s;
            &:hover{
                opacity: 100%;
            }
        }
    }
}
