
.main-menu{
    div hr{
        margin-top: 10px;
    }
    .sub-nav-menu{
        @include bgmaindiv;
        margin: 30px 40px;
        hr{
            margin: 10px 0px;
        }
        li{
            margin: 0 0 5px 40px;
            a{
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: $a-font;
                text-shadow: none;
                color: #8c8a8a;
                text-decoration: none;
                margin: 0 1vw;
                text-align: center;
                justify-content: center;
                transition: all .25s;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    .supermenu {
        margin: 30px 40px;
        padding: 20px 15px;
            .menu{
                margin-bottom: 90px;
                @include bgmaindiv;
                padding: 20px;
                h3{
                    margin: 20px 0 20px 60px;
                
                }
                .medmenu{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    div{
                        display: flex;
                        height: 40vh;
                        width: 270px;
                        margin: 25px 5px;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;
                        img{
                            height: 20vh;
                            margin: 5px 2vw 15px 2vw;
                            opacity: 80%;
                            transition: all .5s;
                            @include bordimg;
                            text-align: center;
                            align-items: center;
                            &:hover{
                                opacity: 100%;
                            }
                        }
                        p{
                            text-align: center;
                            font-size: 17px;
                        }
                        .precio{
                            font-weight: 700;
                            font-size: 20;
                        }
                }
            }
        }
    }
}
