.sucursales{
    background-color: $grey-div-bg;
    background: radial-gradient( $grad-dark);
    margin: 30px 40px;
    padding: 30px;
    height: 370px;
    hr{
        margin:  15px 70px;
    }
    h3{
        font-size: 40px;
    }
    .div-sucursales{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        align-items: center;
        div{
            p {
            font-size: 20px;}
            h4 {
                font-size: $st-font;
            }            
        }
        .iframe {
            display: inline-block;
            margin-right: 60px;
        }
    }
    
}