$ht-font: 50px;
$mt-font: 40px;
$st-font: 30px;
$a-font: 25px;
$par-font: 15px;
$txt-color: #ffffff;
$grey-div-bg: #222222;
$dark-bg: #000000;
$grad-dark: #222222, #151515;

@mixin bgmaindiv {
    background: radial-gradient( $grad-dark);
}

@mixin flxwrp {
    display: flex;
    flex-flow: wrap row;
}

@mixin bordimg {
    border: 2px solid #000000;
    outline: 3px solid #ffffff;
}
