$ht-font: 50px;
$mt-font: 40px;
$st-font: 30px;
$a-font: 25px;
$par-font: 15px;
$txt-color: #ffffff;
$grey-div-bg: #222222;
$dark-bg: #000000;
$grad-dark: #222222, #151515;

@mixin bgmaindiv {
    background: radial-gradient( $grad-dark);
}

@mixin flxwrp {
    display: flex;
    flex-flow: wrap row;
}

@mixin bordimg {
    border: 2px solid #000000;
    outline: 3px solid #ffffff;
}

@keyframes fade_left { /* probando hacer una animacion yo*/
    0%{ position: relative;
        right: 1000px;
        opacity: 0%;}
    10%{ position: relative;
        right: 900px;
        opacity: 10%;
    }
    20%{ position: relative;
        right: 800px;
        opacity: 20%;
    }
    30%{ position: relative;
        right: 700px;
        opacity: 30%;
    }
    40%{ position: relative;
        right: 600px;
        opacity: 40%;
    }
    50%{ position: relative;
        right: 500px;
        opacity: 50%;
    }
    60%{ position: relative;
        right: 400px;
        opacity: 60%;
    }
    70%{ position: relative;
        right: 300px;
        opacity: 70%;
    }
    80%{ position: relative;
        right: 200px;
        opacity: 80%;
    }
    90%{ position: relative;
        right: 100px;
        opacity: 10%;
    }
    100%{opacity: 100%;
    }
}

@for $i from 1 through 10 {
    .txt-font-#{$i}{
        font-size: 10px * $i;
    }
}